.button {
}

.disabled {
}

.secondary {
}

.default {
    background-color: blue;
}

.red {
    background-color: #cc0000;
    color: white;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
