.button {
    width: 150px;
    height: 25px;
}

.disabled {

}

.secondary {
    background-color: #E5F0FA;
    color: blue;
    border-radius: 3px;
    border-color: #E5F0FA;
}

.default {
    background-color: blue;
    color: white;
    border-radius: 3px;
    border-color: blue;
}

.red {
    background-color: red;
    color: white;
    border-radius: 3px;
    border-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    opacity: 0.5;
    background-color: #004D99;
    border-radius: 3px;
    border-color: #004D99;
    color: #002E5C;
}
