.container {

}

.wrapper {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.number {
 margin: 0 10px 0 20px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
